/* CSS Document */
*{
	/*页面上的元素  默认有内外边距的，消除所有元素的内外边距*/
	margin:0px;
	padding:0px;
	font-size:12px;

}	
a:link {
	color: #666666; text-decoration:none;
}

/****顶部信息 包含登录、注册、购物车****/
#ban{
	border:0px solid #ff0000;
	width:100%;
	height:176px;
}
.ban_top{
	border-bottom:1px solid #DDDDDD;
	width:100%;
	height:31px;
	background-color:#F2F2F2;
}
.ban_ul{
	border:0px solid #ff0000;
	width:520px;
	float:right;
	list-style:none;
	margin:auto;
}
.ban_ul_1{
	border-right:1px solid #DDDDDD;
	width:100px;
	float:left;
	margin:0 auto;
	margin-top:6px;
}
.ban_ul_2{
	border-right:1px solid #DDDDDD;
	width:100px;
	float:left;
	margin:0 auto;
	margin-top:6px;
}
.ban_ul_3{
	border-right:1px solid #DDDDDD;
	width:100px;
	float:left;
	margin:0 auto;
	margin-top:6px;
}
.ban_ul_4{
	border-right:0px solid #DDDDDD;
	width:100px;
	float:left;
	margin:0 auto;
	margin-top:6px;
}
#ban_ul_li_1{
	border:0px solid #ff000f;
	float:left;
	margin-left:15px;
}
#ban_ul_li_2{
	border:0px solid #ff000f;
	float:left;
	margin-left:15px;
}
#ban_ul_li_3{
	border:0px solid #ff000f;
	float:left;
	margin-left:15px;
}
#ban_ul_li_4{
	border:0px solid #ff000f;
	float:left;
	margin-left:5px;
}


#ban_ul_li_5{
	border:0px solid #ff000f;
	float:left;
	margin-left:12px;
}
#ban_ul_li_6{
	border:0px solid #ff000f;
	float:left;
	margin-left:20px;
}

#ban_ul_li_7{
	border:0px solid #ff000f;
	float:left;
	margin-left:10px;
}
#ban_ul_li_8{
	border:0px solid #ff000f;
	float:left;
	margin-left:5px;
}

.ban_ul_2 i {
	border:0px solid #ff00ff;
    display: inline;
    float: left;
    margin: 0 0 0 12px;
    height: 17px;
    width: 21px
}
.ban_ul_3 i {
	border:0px solid #ff00ff;
    display: inline;
    float: left;
    margin: 7px 0 0 3px;
    height: 4px;
    width: 7px
}
.ban_ul_4 i {
	border:0px solid #ff00ff;
    display: inline;
    float: left;
    margin: 7px 0 0 3px;
    height: 4px;
    width: 7px
}

/*雪碧图样式*/

.ban_top i{
	background:url(../image/upload_ieytszrsgaytmm3cgmzdambqmeyde_100x400.png) no-repeat;
}
.ban_ul_2 i{background-position:0 -112px;}
.ban_ul_3 i{background-position:0 -160px;}
.ban_ul_4 i{background-position:0 -160px;}

.layer3{
	border-top:1px solid rgb(255,68,102);
	width:100%;
	height: 550px;
}
.layer3center{
	width:960px;
	height: 550px;
	margin:0 auto;
}
.layer3center-left{
	width: 223px;
	height: 550px;
	float: left;
}
.layer3center-right{
	width:735px;
	height:550px;
	float:right;
}

