/*div3*/
.layer3{
	border-top:1px solid rgb(255,68,102);
	width:100%;
	height: 550px;
}
/*设置居中*/
.layer3center{
	width:960px;
	height: 550px;
	margin:0 auto;
}
/*左边左浮动*/
.layer3center-left{
	border-left:1px solid red;
	border-right:1px solid red;
	border-bottom:1px solid red;
	width:225px;
	height:550px;
	float: left;
	position: relative;
}
/*设置右边右浮动*/
.layer3center-right{
	width:975px;
	height:530px;
	float:right;
	}
/*去掉li圆点*/
.layer3center-left  li{
	width:223px;
	height: 42px;
	list-style-type: none;
	line-height:42px;
	}

.layer3center-left dl{
	width: 202px;
	height: 40px;
	margin-left:20px;
	border-bottom:1px dashed #C6C6C6;
	position: relative;
	margin-top:3x;
	font-size: 14px;
}
.layer3center-left span{
	width: 200px;
	height: 20px;
	margin-left:10px;
	margin-top:15px;
}
.layer3center-left a{
	margin-left:1px;
}
/*设置类别字体*/
.bold{
	font-weight:bold;
	font-size:16px;
	color:black;
}
.color{
	color: #FF4466;
}
.rr{
	width: 218px;
	height: 526px;
	border:1px solid #C6C6C6;
	float:right;
	clear:both;
}
.rt{

}
.img{
	margin-top: 20px;
	margin-left: 20px;
}